html {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}


input:focus-visible {
  outline: transparent;
}

.App {
  height: 100vh;
  position: relative;
  text-align: center;
  color: aliceblue;
  --ceu: #4c6bab;
  --ceu_dark: #202020;
  --cloud_size: 45vh;
  font-size: clamp(1vh, 1.5rem, 3vh);
  background: url('./imgs/Cloud1.svg') left -6% bottom repeat-x, url('./imgs/Cloud2.svg') right 30% bottom repeat-x, url('./imgs/Cloud3.svg') right -20% bottom repeat-x, url('./imgs/Stars.svg') top left 2100% repeat-y, linear-gradient(90deg, var(--ceu) 30%, var(--ceu_dark) 60%) no-repeat;
  background-size: var(--cloud_size), var(--cloud_size), var(--cloud_size), 90vh, 800%;
  transition-property: background-position-x;
  transition: 1s ease-in-out;
}


.App:has(main>.Info>.Dias>.noite) {
  background-position-x: -106%, -70%, -120%, 100%, 100%;
}

header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
}

header>img {
  height: 2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;

}

.loading {
  height: 5em;
  aspect-ratio: 1;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App:has(main>div>.noite)>main {
  animation: darken ease-in-out 1s infinite;
}

@keyframes darken {
  0% {
    background-position: 50% 0%
  }

  50% {
    background-position: 50% 100%
  }

  100% {
    background-position: 50% 0%
  }
}

.Search {
  position: relative;
  font-size: .75em;
}

.SearchBox {
  background-color: aliceblue;
  border-radius: 1.1em;
  padding: .5em;
  border: none;
  font-size: 1em;
}

.Search:has(.CityList)>.SearchBox {
  border-radius: 1.1em 1.1em 0 0;
}

.CityList {
  width: 100%;
  color: #282c34;
  border: none;
  position: absolute;
  z-index: 1;
}

.CityList * {
  padding: .5em;
  background-color: aliceblue;
}

.CityList *:last-child {
  border-radius: 0 0 1.1em 1.1em;
}

.CityList *:hover {
  background-color: #9ec1df;
}

.Dias {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}

#MainInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  font-size: .7em;
}

.MainIcon {
  height: 10em;
}

.InfoDia {
  text-align: start;
  list-style: none;
  font-size: 1.2em;
  padding: 0;
}

p, h2 {
  margin: 0;
}

h3 {
  margin-top: 0;
}

.Overlay {
  display: flex;
  justify-content: space-around;
  font-size: 4em;
}

.Overlay * {
  z-index: 1;
  height: 1.5em;
  width: 1.5em;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 100%;
  text-align: center;
  user-select: none;
  cursor: pointer;
}